<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <meta name="yandex-verification" content="445237be6de83719">
  <meta name="google-site-verification" content="_FBGrgG8w9CDhQIBHbwMay9QaRvNX4b99ErSayRAOL8">
  <meta name="w1-verification" content="129501613252">
  <meta name="webmoney.attestation.label" content="webmoney attestation label#0412D268-1BF1-4AD9-A7A3-D64920366CE6"> 
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link href="..\..\design\css\style.css?12" rel="stylesheet" type="text/css">
	<link href="..\..\design\css\formstyler.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="..\..\design\images\favicon.ico" type="image/x-icon">
  <script type="text/javascript" src="..\..\design\js\jquery.min.js"></script>
  <script type="text/javascript" src="..\..\design\js\jquery.autoresize.js"></script>
  <script type="text/javascript" src="..\..\design\js\jquery.formstyler.js"></script>
  <script type="text/javascript" src="..\..\design\js\jquery.arcticmodal.js"></script>
  <!--<script type="text/javascript" src="/design/js/jquery.powerful-placeholder.js"></script>-->
  <script type="text/javascript" src="..\..\design\js\all.js?1221" charset="windows-1251"></script>
  <script type="text/javascript" src="..\..\design\js\other.js?33223122"></script>
  <script type="text/javascript" src="..\..\design\js\jquery.cookie.js"></script>
  <script type="text/javascript" src="..\..\design\js\toastr\toastr.min.js"></script>

  <script>
    $(function () {
      //$.Placeholder.init({ color : "#aaa" });
      $('input, select:not(.no-styler)').styler();
    });
  </script>
	

  <title>Конкурс рефералов #5</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  
  </head>			
  <body><div class="main-wrapper"><div id="wr">
    <script>
    $(document).ready(function(){
    $('.nav-mobile').click(function(){
    $('#nav').toggle('slow');
    });
    });
    </script>
    
    <!-- header -->
    <div id="head"><!-- logo -->
        <div id="logo">
          <a href="..\..\index.htm"><img src="..\..\design\images\logo.png" alt=""></a>
        </div>
        <!-- end logo --><!-- navi -->
      <span class="nav-mobile"></span>
      <div id="nav">
        <ul>
          <li><a href="..\..\login.html">Вход</a>
          <li><a href="https://vkstorm.ru/assignments">Доступные задания</a>
          <li><a href="https://vkstorm.ru/campaign">Мои задания</a>
          <li><a href="https://vkstorm.ru/campaign/add">Создать задание</a>
          <li><a href="https://vkstorm.ru/auction">Аукцион</a>
        </li></ul>
      </div>
      <!-- end navi -->
		
		</div>
    <!-- end header -->
    
    <!-- content -->
    <div id="content"><script>  
  function on(n) {   
    jQuery('#text'+n).css('display' ,'block'); 
    jQuery('#ontext'+n).css('display' ,'none');  
    jQuery('#offtext'+n).css('display' ,'inline'); 
  } 

  function off(n) {  
    jQuery('#text'+n).css('display' ,'none'); 
    jQuery('#ontext'+n).css('display' ,'inline'); 
    jQuery('#offtext'+n).css('display' ,'none'); 
  } 
  </script>

  <script type="text/javascript">
  function commentRating(id, operation) {
    $.ajax({
        type: "POST",
        url: "../../data/news_commrating.php",
        data: "id=" + id + "&operation=" + operation,
        success: function(html){
        $("#commentRating" + id).html(html);
      }
    });
  }
  </script><!-- left col -->
  <div id="left_col">
  <div class="cn_head"><h2><a href="..\..\news.html">Новости</a> / Конкурс рефералов #5</h2></div>
  <div class="cn_block"><p>Объявляется <b>пятый конкурс рефералов</b> с призовым фондом <b>5000 рублей</b>!<br>
<br>
Дата проведения: с <b>13</b> по <b>28 сентября</b> (включительно, до 23:59).<br>
За время конкурса необходимо пригласить рефералов по своей реферальной ссылке.<br>
<br>
Призы: <br>
1 место - <b>3000 руб.</b><br>
2 место - <b>1500 руб.</b><br>
3 место - <b>500 руб.</b><br>
<br>
С текущими результатами и подробностями конкурса можно ознакомиться на странице <a href="http://vkstorm.ru/competition">Конкурс рефералов</a>.<br>
<br>
С результатами предыдущего конкурса рефералов можно ознакомиться на странице <a href="http://vkstorm.ru/competition/view/4">Конкурс рефералов #4</a>.<br>
<br>
Желаем успехов!</p>

  <div class="info-post-news">
  <span class="time">13 сентября 2014</span>
  <span class="views" title="просмотры">30463</span>
  </div><a id="comments"></a>
    <div class="comments-tabs"><script>
    var thisPageNum = 1;
    var thisWork = 1;
    var kp = 1;
    
    function getNextP(){
      if(thisWork == 1 && thisPageNum < kp){
        thisWork = 0;
        $("#comments-upBlock").css('display','block');
        $('input[name=more]').css('display','none');
        $.get("../../data/news_comments.php?&news_id=7&p="+thisPageNum, function(data){
        $("#comments-upBlock").css('display','none');
        $('input[name=more]').css('display','inline-block');
        $("#loadComments").html($("#loadComments").html()+" "+data);
        thisPageNum = thisPageNum + 1;
        thisWork = 1;
        if(kp == thisPageNum) $('input[name=more]').remove();
        });
      }
    }
    
    $(document).ready(function(){
      $('input[name=more]').click(function(){
       getNextP();
      });

      var tab_id = '';
      
      jQuery('.comments-tab-selected').click(function(){
        jQuery('.comments-tab-selected').removeClass('selected');
        jQuery(this).addClass('selected');		
        tab_id = jQuery(this).attr('id').split('_');
        jQuery('.all-content').hide();
        jQuery('#all-content_'+tab_id[1]).show();	
      });
      jQuery('#comments-tab-selected_1').trigger('click');
    });	  
    </script>
    
    <div id="comments-tab-selected_1" class="comments-tab-selected">Комментарии [2]</div><div id="all-content_1" class="all-content">
    <div class="tab-content"><p style="clear:both;">Для комментирования требуется <a href="..\..\login-7.html?back=https%3A%2F%2Fvkstorm.ru%2Fnews%2Fview%2F7">авторизация</a>.</p><div class="comment-b">
          <div class="left-com-b">
        
            <a id="comment63"></a>
            <span class="n-o"><b>Александра Мирная</b> [ID: 288396580]</span>
            
            <span class="t-m">а как можно составить свою реферальную ссылку?</span>
          
            <noindex>
            <span id="ontextblock63" style="display: inline;">
            <span class="d-m"><small><a href="#comment63">4 года  назад</a></small> | <a href="javascript:on('block63');">Ответить</a></span>
            </span>  
            <span id="offtextblock63" style="display: none;">
            <span class="d-m"><small><a href="#comment63">4 года  назад</a></small> | <a href="javascript:off('block63');">Скрыть</a></span>
            </span>
            </noindex>
            
            
            </div>
            </div>
                
            <div id="textblock63" style="display: none;">
            <form id="commentsForm" method="post" action="./7#comments"><p>Для комментирования требуется <a href="..\..\login-7.html?back=https%3A%2F%2Fvkstorm.ru%2Fnews%2Fview%2F7">авторизация</a>.</p></form>
            </div>
            
          <div class="comment-b">
          <div class="left-com-b">
        
            <a id="comment41"></a>
            <span class="n-o"><b>Macho Meen</b> [ID: 278164021]</span>
            
            <span class="t-m">Вот зачем в реферальной ссылке светить id пользователя? Недоработка ваша</span>
          
            <noindex>
            <span id="ontextblock41" style="display: inline;">
            <span class="d-m"><small><a href="#comment41">5 лет  назад</a></small> | <a href="javascript:on('block41');">Ответить</a></span>
            </span>  
            <span id="offtextblock41" style="display: none;">
            <span class="d-m"><small><a href="#comment41">5 лет  назад</a></small> | <a href="javascript:off('block41');">Скрыть</a></span>
            </span>
            </noindex>
            
            
            </div>
            </div>
                
            <div id="textblock41" style="display: none;">
            <form id="commentsForm" method="post" action="./7#comments"><p>Для комментирования требуется <a href="..\..\login-7.html?back=https%3A%2F%2Fvkstorm.ru%2Fnews%2Fview%2F7">авторизация</a>.</p></form>
            </div>
            
          </div>
    </div>
    </div></div>
  </div>
  <!-- end left col --><!-- right col -->
      <div id="right_col"><noindex>
          <!-- right block -->
          <div class="right_block">
            <div class="rb_head">Новости</div><div class="rb_cont nws">
                <p class="nwsh"><b>Черная пятница — бонусы при пополнении до 60%!</b><span style="display: block;font-size: 12px;padding: 2px 0;">28 ноября 2019</span></p>
                <p>Black Friday!<br>
<br>
Увеличиваем бонусы при пополнении баланса:<br>
При пополнении от 5 000 поинтов бонус +500 поинтов (10%).<br>
При пополнении от 10 000 поинтов бонус +2 000 поинтов (2...</p>
                 <a href="19.html" rel="nofollow">читать далее &#187;&#187;</a>
              </div><div class="rb_cont nws">
                <p class="nwsh"><b>Просмотры записей и увеличение реферальных отчислений</b><span style="display: block;font-size: 12px;padding: 2px 0;">9 июля 2019</span></p>
                <p>Доброго времени суток!<br>
<br>
1. Добавили новый тип заданий — Просмотры записей. <br>
Счётчик просмотров поможет максимально быстро отслеживать интерес к записи: чтобы просмотр засчитался, ...</p>
                 <a href="18.html" rel="nofollow">читать далее &#187;&#187;</a>
              </div></div>
          <!-- end right block -->
          
          <p><a href="..\..\news.html" rel="nofollow">Все новости</a></p>
          </noindex></div>
      <!-- end right col -->
      
      <div class="cl end"></div>
      </div>
      <!-- end content --><!-- footer -->
  <div id="foot"><ul><li><a href="..\..\about\index.htm">О проекте</a></li><li><a href="..\..\help\index.htm">Помощь</a></li><li><a href="..\..\regulations\index.htm">Правила</a></li><li><a href="..\..\agreement\index.htm">Оферта</a></li><li><a href="..\..\privacy\index.htm">Конфиденциальность</a></li><li><a href="..\..\price\index.htm">Прайс-лист</a></li><li><a href="..\..\contacts\index.htm">Контакты</a></li><li><a href="..\..\sitemap.html">Карта сайта</a></li>
    
    </ul><div class="fl">
		VKSTORM &#169; 2014-2020	</div><div class="fr">
		<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter25147229 = new Ya.Metrika({
                    id:25147229,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://d31j93rd8oukbv.cloudfront.net/metrika/watch_ua.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/25147229" style="position:absolute; left:-9999px;" alt=""></div></noscript>
<!-- /Yandex.Metrika counter -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53289238-2', 'auto');
  ga('send', 'pageview');

</script>	</div>
  </div>
  <!-- end footer -->

  </div>
  <script src='https://www.google.com/recaptcha/api.js'></script>

	<!--<script src="/design/js/jquery.effects.core.js" type="text/javascript"></script>
	<script type="text/javascript" src="/design/js/menu.js"></script>-->
  	</div></body></html>