<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <meta name="yandex-verification" content="445237be6de83719">
  <meta name="google-site-verification" content="_FBGrgG8w9CDhQIBHbwMay9QaRvNX4b99ErSayRAOL8">
  <meta name="w1-verification" content="129501613252">
  <meta name="webmoney.attestation.label" content="webmoney attestation label#0412D268-1BF1-4AD9-A7A3-D64920366CE6"> 
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link href="..\..\design\css\style.css?12" rel="stylesheet" type="text/css">
	<link href="..\..\design\css\formstyler.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="..\..\design\images\favicon.ico" type="image/x-icon">
  <script type="text/javascript" src="..\..\design\js\jquery.min.js"></script>
  <script type="text/javascript" src="..\..\design\js\jquery.autoresize.js"></script>
  <script type="text/javascript" src="..\..\design\js\jquery.formstyler.js"></script>
  <script type="text/javascript" src="..\..\design\js\jquery.arcticmodal.js"></script>
  <!--<script type="text/javascript" src="/design/js/jquery.powerful-placeholder.js"></script>-->
  <script type="text/javascript" src="..\..\design\js\all.js?1221" charset="windows-1251"></script>
  <script type="text/javascript" src="..\..\design\js\other.js?33223122"></script>
  <script type="text/javascript" src="..\..\design\js\jquery.cookie.js"></script>
  <script type="text/javascript" src="..\..\design\js\toastr\toastr.min.js"></script>

  <script>
    $(function () {
      //$.Placeholder.init({ color : "#aaa" });
      $('input, select:not(.no-styler)').styler();
    });
  </script>
	

  <title>Конкурсы</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  
  </head>			
  <body><div class="main-wrapper"><div id="wr">
    <script>
    $(document).ready(function(){
    $('.nav-mobile').click(function(){
    $('#nav').toggle('slow');
    });
    });
    </script>
    
    <!-- header -->
    <div id="head"><!-- logo -->
        <div id="logo">
          <a href="..\..\index.htm"><img src="..\..\design\images\logo.png" alt=""></a>
        </div>
        <!-- end logo --><!-- navi -->
      <span class="nav-mobile"></span>
      <div id="nav">
        <ul>
          <li><a href="..\..\login.html">Вход</a>
          <li><a href="https://vkstorm.ru/assignments">Доступные задания</a>
          <li><a href="https://vkstorm.ru/campaign">Мои задания</a>
          <li><a href="https://vkstorm.ru/campaign/add">Создать задание</a>
          <li><a href="https://vkstorm.ru/auction">Аукцион</a>
        </li></ul>
      </div>
      <!-- end navi -->
		
		</div>
    <!-- end header -->
    
    <!-- content -->
    <div id="content"><!-- left col -->
<div id="left_col">
<div class="cn_head"><h2>Конкурсы</h2></div>
<div class="cn_block"><p>
    <b>Конкурс рефералов #1 завершен.</b><br>
    </p>
    <hr>
    <p>
    Дата проведения: с <b>14</b> по <b>28 июня</b> (включительно, до 23:59).<br>
    </p>
    <hr>
    <p>
    За время конкурса необходимо пригласить рефералов по своей <a href="../../partners">реферальной ссылке</a>.<br>
    Учитываются только активные рефералы, которые выполнили не менее <b>5</b> заданий.<br>    Накрутка запрещена. Любые попытки саморегистрации будут пресечены.<br>
    </p>
    <hr>
    <p>
    <b>Призы</b>: <br>1 место - <b>2000</b> руб.<br>
    2 место - <b>1000</b> руб.<br>    3 место - <b>500</b> руб.<br>    </p>
    <hr><p>
      <b>Вниманию победителям</b>: для получения приза необходимо <a href="../../support/add">сообщить в тех. поддержку</a> реквизиты для выплаты (Webmoney-R кошелек или номер телефона).
      </p>
      <hr><p>
    <b>Результаты</b>:<br>
    </p><table class="table" border="0" cellspacing="1" cellpadding="3">
      <tr align="center">
      <td class="table-box" colspan="1">Место</td>
      <td class="table-box" colspan="1">Конкурсант</td>
      <td class="table-box" colspan="1">Рефералов</td>
      <td class="table-box" colspan="1">Приз</td>
      </tr><tr>
        <td class="table-box" style="vertical-align: middle; text-align:center;">1</td>
        <td class="table-box"><img src="https://sun9-27.userapi.com/c629305/v629305190/3be21/oRvEEBa-sSw.jpg?ava=1" alt="" style="vertical-align: middle; margin-right: 10px;">ID: *****6190</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">270</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;"><b>2000</b> руб.</td>
        </tr><tr>
        <td class="table-box" style="vertical-align: middle; text-align:center;">2</td>
        <td class="table-box"><img src="https://pp.userapi.com/c624516/v624516736/2feb3/pj0yx2iQZ1U.jpg" alt="" style="vertical-align: middle; margin-right: 10px;">ID: *****0736</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">261</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;"><b>1000</b> руб.</td>
        </tr><tr>
        <td class="table-box" style="vertical-align: middle; text-align:center;">3</td>
        <td class="table-box"><img src="http://cs620819.vk.me/v620819322/d880/hoevSg18_oE.jpg" alt="" style="vertical-align: middle; margin-right: 10px;">ID: *****7322</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">202</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;"><b>500</b> руб.</td>
        </tr><tr>
        <td class="table-box" style="vertical-align: middle; text-align:center;">4</td>
        <td class="table-box"><img src="http://cs617419.vk.me/v617419488/d96d/Zqw9rgvc2rk.jpg" alt="" style="vertical-align: middle; margin-right: 10px;">ID: *****6488</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">187</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">-</td>
        </tr><tr>
        <td class="table-box" style="vertical-align: middle; text-align:center;">5</td>
        <td class="table-box"><img src="https://pp.userapi.com/c637718/v637718333/4192e/nPK6xQJdCE4.jpg" alt="" style="vertical-align: middle; margin-right: 10px;">ID: *****5333</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">97</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">-</td>
        </tr><tr>
        <td class="table-box" style="vertical-align: middle; text-align:center;">6</td>
        <td class="table-box"><img src="http://cs303810.vk.me/v303810298/563d/uyzy-gUcJ4c.jpg" alt="" style="vertical-align: middle; margin-right: 10px;">ID: *****4298</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">75</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">-</td>
        </tr><tr>
        <td class="table-box" style="vertical-align: middle; text-align:center;">7</td>
        <td class="table-box"><img src="http://cs608820.vk.me/v608820080/123a3/jis0tc09Yzg.jpg" alt="" style="vertical-align: middle; margin-right: 10px;">ID: *****6080</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">47</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">-</td>
        </tr><tr>
        <td class="table-box" style="vertical-align: middle; text-align:center;">8</td>
        <td class="table-box"><img src="https://pp.vk.me/c614926/v614926033/10ebe/5lHbuZfKxRQ.jpg" alt="" style="vertical-align: middle; margin-right: 10px;">ID: *****7033</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">43</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">-</td>
        </tr><tr>
        <td class="table-box" style="vertical-align: middle; text-align:center;">9</td>
        <td class="table-box"><img src="https://pp.userapi.com/c636728/v636728936/688f5/8vkSIkFJ2ms.jpg" alt="" style="vertical-align: middle; margin-right: 10px;">ID: *****1936</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">28</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">-</td>
        </tr><tr>
        <td class="table-box" style="vertical-align: middle; text-align:center;">10</td>
        <td class="table-box"><img src="https://pp.userapi.com/c841229/v841229681/65d6b/GAbywgoB7Xk.jpg" alt="" style="vertical-align: middle; margin-right: 10px;">ID: *****157</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">21</td>
        <td class="table-box" style="vertical-align: middle; text-align:center;">-</td>
        </tr></table></div>
  </div>
  <!-- end left col --><!-- right col -->
      <div id="right_col"><noindex>
          <!-- right block -->
          <div class="right_block">
            <div class="rb_head">Новости</div><div class="rb_cont nws">
                <p class="nwsh"><b>Черная пятница — бонусы при пополнении до 60%!</b><span style="display: block;font-size: 12px;padding: 2px 0;">28 ноября 2019</span></p>
                <p>Black Friday!<br>
<br>
Увеличиваем бонусы при пополнении баланса:<br>
При пополнении от 5 000 поинтов бонус +500 поинтов (10%).<br>
При пополнении от 10 000 поинтов бонус +2 000 поинтов (2...</p>
                 <a href="..\..\news\view\19.html" rel="nofollow">читать далее &#187;&#187;</a>
              </div><div class="rb_cont nws">
                <p class="nwsh"><b>Просмотры записей и увеличение реферальных отчислений</b><span style="display: block;font-size: 12px;padding: 2px 0;">9 июля 2019</span></p>
                <p>Доброго времени суток!<br>
<br>
1. Добавили новый тип заданий — Просмотры записей. <br>
Счётчик просмотров поможет максимально быстро отслеживать интерес к записи: чтобы просмотр засчитался, ...</p>
                 <a href="..\..\news\view\18.html" rel="nofollow">читать далее &#187;&#187;</a>
              </div></div>
          <!-- end right block -->
          
          <p><a href="..\..\news.html" rel="nofollow">Все новости</a></p>
          </noindex></div>
      <!-- end right col -->
      
      <div class="cl end"></div>
      </div>
      <!-- end content --><!-- footer -->
  <div id="foot"><ul><li><a href="..\..\about\index.htm">О проекте</a></li><li><a href="..\..\help\index.htm">Помощь</a></li><li><a href="..\..\regulations\index.htm">Правила</a></li><li><a href="..\..\agreement\index.htm">Оферта</a></li><li><a href="..\..\privacy\index.htm">Конфиденциальность</a></li><li><a href="..\..\price\index.htm">Прайс-лист</a></li><li><a href="..\..\contacts\index.htm">Контакты</a></li><li><a href="..\..\sitemap.html">Карта сайта</a></li>
    
    </ul><div class="fl">
		VKSTORM &#169; 2014-2020	</div><div class="fr">
		<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter25147229 = new Ya.Metrika({
                    id:25147229,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://d31j93rd8oukbv.cloudfront.net/metrika/watch_ua.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/25147229" style="position:absolute; left:-9999px;" alt=""></div></noscript>
<!-- /Yandex.Metrika counter -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53289238-2', 'auto');
  ga('send', 'pageview');

</script>	</div>
  </div>
  <!-- end footer -->

  </div>
  <script src='https://www.google.com/recaptcha/api.js'></script>

	<!--<script src="/design/js/jquery.effects.core.js" type="text/javascript"></script>
	<script type="text/javascript" src="/design/js/menu.js"></script>-->
  	</div></body></html>